@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body {
    background-color: #F7F2EA;
}

main {
    font-family: 'Lato', sans-serif;
    color: #353535;
    font-size: 20px;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 100px;
    text-align: center;
    color: #27829E;
    padding: 20px;
    margin: 0px;
}

h2 {
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    font-size: 65px;
    color: #353535;
    margin: 0px;
    padding: 15px;
}
text {
    margin-bottom: 200px;
}

h3 {
    margin-top: 0px;
    padding-top: 10px;
    font-size: 35px;
    color: #27829E;
}

.sort {
    font-size: 25px;
    color: #353535;
    margin-bottom: 0;
}

.topnav {
    background-color: #C3C3C3;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 80px;
    font-size: 35px;
    color: #2F8E9D;
    font-weight: 700;
}

main {
    text-align: center;
}

.specials_form {
    float: left;
    margin-left: 100px;
}

table {
    border: 2px solid black;
    color: #257c97;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    border-collapse: collapse;
    margin-right: 0;
    width: 60%;
    margin-left: 300px;
    margin-bottom: 50px;

}

th {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
}

td {
    font-family: 'Lato', sans-serif;
    color: #353535;
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    padding: 3px;
}
.info_buttons {
    background-color: #0FA6BC;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #353535;
    margin: 10px;
    width: 270px;
}
input {
    background-color: #0FA6BC;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #353535;
    margin: 10px;
    width: 150px;
}

.container2 {
    width: 40px;
    height: 40px;
    padding: 10px;
    float: right;
    margin-right: 200px;
    margin-top: -175px;
}
.full_menu {
    float: right;
    width: 70%;
    margin-right: 100px;
    padding: 0;
    margin-left: 0;
}
.food_menu_form {
    float: left;
    margin-left: 100px;
    padding: 0;
    margin-right: 0;
}
.drinks_menu_form {
    float: left;
    margin-left: 100px;
    padding: 0;
    margin-right: 0;
}
.container3 {
    width: 40px;
    height: 40px;
    padding: 10px;
    float: right;
    margin-right: 230px;
    margin-top: -220px;
}
.specials_table {
    float: right;
    width: 70%;
    margin-right: 100px;
    margin-top: 30px;
    padding: 0;
    margin-left: 0;
}
